<!DOCTYPE html>
<html lang="en" xmlns:th="httpl://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{../static/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <div class="form-group files">
                        <label>Upload Your File </label>
                        <input type="file" class="form-control" multiple="" name="file">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>