<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
    <link rel="stylesheet" th:href="@{../static/css/styles.css}">
</head>
<body>
<th:block th:each="file:${files}">
    <a th:href="@{|/download?file=${file}|}"><span th:text="${file}"></span></a><br/>
</th:block>
</body>
</html>