<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/songs}" th:object="${song}" enctype="multipart/form-data">

    <label for="name">Enter songName:  </label>
    <input type="text" th:field="*{songName}" id="name"/>
    <br/>

    <label for="year">Enter songYear:  </label>
    <input type="text" th:field="*{songYear}" id="year"/>
    <br/>
      <label for="audio">Choose audio file: </label>
      <input type="file" multiple="" name="audioFile" id="audio">
      <br/>
    <label for="image">Choose image file: </label>
    <input type="file" multiple="" name="imageFile" id="image">
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>