<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Songs</title>
</head>
<body>
<h1>List of Songs</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Song Name</th>
        <th>Song Year</th>
        <th>Audio</th>
    </tr>
    <tr th:each="song : ${songs}">

        <td th:text="${song.id}">ID</td>
        <td th:text="${song.songName}">Song Name</td>
        <td th:text="${song.songYear}">Song Year</td>
        <td><img th:src="${song.photoFilePath}" alt="Album Photo" width="50" height="50"></td>
        <td>
            <audio controls>
                <source th:src="${song.audioFilePath}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </td>
    </tr>
</table>
</body>
</html>